/* ---------- Mobile View ---------- */
@media screen and (max-width: 480px) {

  /* Full Page Card 1 */
  .main-page-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      width: 70%;
      margin-left: 1rem;
  }

  .main-heading {
      font-size: 3rem;
      font-weight: 700;
  }

  .main-page-div h2 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }

  /* Full Page Card 2 */
  .full-page-card-two {
      background-color: var(--grey);
      height: 100vh;
      color: var(--main-page-text-color);
      position: relative;
  }

  .version-text {
      position: absolute;
      left: 1rem;
      top: 1rem;
  }

  .version-text2 {
      opacity: 0.7;
      font-size: 1rem;
  }

  .main-page-nav {
      display: flex;
      width: 100%;
      justify-content: flex-end;
  }

  .main-page-grid {
      width: 80%;
      height: 500px;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-content: center;
  }

  .main-page-grid img {
      border-radius: 0.5rem;
  }

}